<h1>Add a New Recipient</h1>

<form action="/recipients" method="POST">
  <br><label>Recipient: </label>
  <input type="text" name="name"></br>
  <br><label>Present: </label>
  <input type="text" name="present"></br>


 <input type="submit" value="submit">

</form>
