<h1>Welcome, <%=current_user.username %>! </h1>

You may only view the recipients and presents on your holiday list but may see how many gifts are getting given. 
<h3>All the presents!  ALL OF THEM!:</h3>


<% @recipients.each do |recipient| %>
  <% if recipient.user_id == current_user.id %>
  <li> <a href="/recipients/<%= recipient.id %>"> <%= recipient.name %> </a></li>
  <%else%><li>Naughty! You can't see this gift!</li>
  <%end%>
<% end %>

<br>
<a href='/recipients'>Shopping List</a>
<a href='/recipients/new'>Add to List</a>
<p><%=current_user.username%> is logged in.</p>
<a href='/logout'>Logout</a>
<br>
