<h1>Welcome, <%=current_user.username %> </h1>

<h3>Here is your Holiday Shopping List</h3>
<% @recipients.each do |recipient| %>
  <li> <a href="/recipients/<%= recipient.id %>"> <%= recipient.name %> </a></li>
<% end %>
